body {
  font-size: 13px;

  background: linear-gradient(white, lightgrey) !important;
}

.navbar {
  background-color: rgb(45, 45, 45) !important; /* Bootstrap's dark grey */
}

.navbar .form-inline {
  align-items: center;
}

#navbarNav {
  display: flex;
  align-items: center;
}
.custom-card {
  border-radius: 10px;
  overflow: hidden;
  border-color: black;
}

.custom-card-img {
  height: 220px;
  /* Set a fixed height for all images */
  object-fit: cover;
}

.custom-card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  /* A default background color */
  /* THIS IS WHERE THE Default text color GOES!!!!!!!!! */
}

.custom-card-title,
.custom-card-date {
  margin: 0;
}

.custom-btn-learn-more {
  background-color: #ffa500;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  text-align: center;
  margin-top: 10px;
  /* Added margin to top */
}

.button-below {
  padding-bottom: 13px;
}
.button-above {
  padding-top: 20px;
}

.welcome-title {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  line-height: 1.1;
  font-size: 40px;
}

/* Responsive design */
@media (max-width: 768px) {
  .custom-card-img {
    height: auto;
  }
}

.title {
  font-size: 55px;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 25px;
  text-align: center;
  font-family: "Chomsky", sans-serif;
}

.sale-salesperson,
.sale-client,
.sale-reams {
  flex: 1;
  text-align: left;
}

.delete-sale {
  background-color: rgb(255, 217, 0);
}

#sales-records .list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.list-group-item.dragging {
  opacity: 0.5;
}

.trash {
  border: 2px #000000;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
  background-color: #bbbbbb;
  border-radius: 5px;
}

.trash.highlight,
.trash-hover {
  background-color: #f3e304;
  border-color: #dab3b3;
  cursor: move;
}

.ui-draggable-dragging {
  cursor: move !important;
}

.warning {
  color: red;
  margin-top: 5px;
}

.list-group-item:hover {
  background-color: lightyellow;
  cursor: move;
}

.trash.hover {
  background-color: yellow;
}

.highlight-dragging {
  background-color: yellow;
}

.sale-record {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.sale-record:hover {
  background-color: lightyellow;
  cursor: move;
}

.salesperson,
.client,
.reams {
  flex: 1;
}

#client-name,
#reams,
#submit-sale {
  margin-bottom: 10px;
}

.col {
  padding: 5px;
}

.submit-button {
  background-color: rgb(0, 76, 255);
  color: white;
}

#submit-sale {
  width: 100%;
}

.toolbar {
  background-color: lightgrey;
  font-size: 18px;
  padding-left: 10px;
  padding-right: 15px;
  display: flex;
  flex-wrap: wrap;
}

.toolbar-item {
  min-height: 40px;
  display: flex;
  align-items: center;
}

#spacer {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 10px;
  font-weight: bolder;
}

.welcome-item {
  background-color: lightsalmon;
}

.infinity-item {
  background-color: lightblue;
}

.welcome-message {
  font-size: 18px;
  margin-top: 30px;
  text-align: center;
  width: 50%;
}

.card-custom {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  /* 5px rounded corners */
}

.card-custom:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-header-custom {
  background-color: #007bff;
  /* Bootstrap primary color */
  color: white;
  padding: 16px;
  font-size: 20px;
}

.card-body-custom {
  padding: 16px;
}

.rounded-img {
  border-radius: 5px;
}

.btn-custom {
  background-color: #007bff;
  /* Bootstrap primary color */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.btn-custom:hover {
  background-color: white;
  color: black;
  border: 1px solid #007bff;
}

.keyword-list {
  padding: 0;
}

.keyword-list li {
  display: inline;
  /* Make keywords inline */
  margin-right: 10px;
}

.image-caption-container {
  display: block;
  position: relative;
  /* width: 30%; */
  border-top-left-radius: 8px; /* Adjust as needed */
}

.cropped-image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover; /* This will crop the image to fill the container */
  border-top-left-radius: 8px; /* Rounded top-left corner */
  border-top-right-radius: 8px; /* Optional: if you want the top-right corner also rounded */
}

.caption-box {
  background-color: #007bff; /* Bootstrap primary color */
  color: white;
  text-align: center;
  padding: 1rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.results-header .query-title {
  font-size: 24px; /* Adjust as needed */
}

.search-results-list {
  list-style: none;
  padding: 0;
}

.search-result-item {
  margin-bottom: 20px;
}

.rounded-title {
  display: inline-block;
  background-color: #f2f2f2; /* Light gray, adjust as needed */
  border-radius: 15px; /* Rounded corners */
  padding: 10px 15px;
  font-weight: bold;
}

.result-title {
  font-size: 20px; /* Larger font for titles */
  font-weight: bold;
}

.result-abstract {
  margin-top: 5px;
}

.result-keywords {
  margin-top: 5px;
  font-style: italic;
}

.search-result-link {
  text-decoration: none;
  color: black; /* Adjust link color as needed */
}

.search-result-link:hover {
  text-decoration: underline;
}

.menu-item {
  color: white !important;
  font-size: 20px;
}

#searchInput {
  margin-right: 10px;
  /* Adjust the 10px to the amount of space you want */
  margin-top: 3px;
}

#search-shift {
  padding-top: 7px !important;
  margin-top: 7px;
}

.btn-custom {
  /* padding-top: 10px; */
  background-color: #ffa500;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}


.view-title {
  font-size: 36px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.1;
  padding-bottom: 10px;
}

.abstract {
  font-size: 23px;
}

.detail {
  font-size: 16px;
  font-weight: bold;
}

.card-custom {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  /* Ensure card takes full width */
}

.card-custom:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-header-custom {
  color: white;
  padding: 16px;
  font-size: 20px;
  width: 100%;
}

.card-body-custom {
  padding: 16px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  /* Ensure body takes full width */
}

.img-container {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-top-left-radius: 10px;
  /* Curve the top-left corner */
}

.rounded-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info-container {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-top-right-radius: 10px;
  /* Curve the top-right corner */
}

.buttons-container {
  padding-top: 10px;
  display: flex;
  justify-content: start;
  gap: 90px;
  margin-top: auto;
  width: 100%;
}

.keyword-btn,
.btn-custom {
  padding-top: 10px;
  background-color: #ffa500;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.keyword-btn:hover,
.btn-custom:hover {

  background-color: white;
  color: black;
  border: 1px solid #007bff;
}

.keyword-section {
  display: flex;
  width: 100%;
}

.keyword-section>div {
  flex-grow: 1;
}

.read-button {
  width: 75%;
}

.edit-button {
  width: 25%;
}

.error-message {
  color: red;
}

.result-count {
  font-size: 20px;
}

.search-item {
  background-color: #b6dfff;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
}

.search-title {
  font-size: 20px;
}