{% extends "layout.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Edit Article</h2>
    <form method="post">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title" value="{{ article.title }}" required>
        </div>
        <div class="form-group">
            <label for="author">Author</label>
            <input type="text" class="form-control" id="author" name="author" value="{{ article.author }}" required>
        </div>
        <div class="form-group">
            <label for="update_date">Updated Date</label>
            <input type="date" class="form-control" id="update_date" name="update_date"
                value="{{ article.update_date }}" required>
        </div>
        <div class="form-group">
            <label for="image">Article URL</label>
            <input type="url" class="form-control" id="url" name="url" value="{{ article.url }}" required>
        </div>
        <div class="form-group">
            <label for="section">Section (Optional)</label>
            <input type="text" class="form-control" id="section" name="section" value="{{ article.section }}">
        </div>
        <div class="form-group">
            <label for="subsection">Subsection (Optional)</label>
            <input type="text" class="form-control" id="subsection" name="subsection" value="{{ article.subsection }}">
        </div>
        <div class="form-group">
            <label for="abstract">Abstract (Optional)</label>
            <textarea class="form-control" id="abstract" name="abstract">{{ article.abstract }}</textarea>
        </div>
        <div class="form-group">
            <label for="image">Image URL (Optional)</label>
            <input type="url" class="form-control" id="image" name="image" value="{{ article.image }}">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-secondary" onclick="confirmDiscard()">Discard Changes</button>
    </form>
</div>

<script>
    function confirmDiscard() {
        if (confirm("Are you sure you want to discard changes?")) {
            window.location.href = "{{ url_for('item', id=article['id']) }}";
        }
    }
</script>
{% endblock %}