<!-- Samuel Braun slb2250 -->
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="data:," />

    <!-- jquery -->
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />

    <!-- for search bar -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" />

    <link rel="stylesheet" href="../static/main.css" />

    <title>Propaganda Depot</title>
</head>

<body>
    <div class="title">Propaganda Depot</div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Propaganda Depot</a>
            <div class="ml-auto" id="navbarNav">
                <form class="form-inline" action="/search" method="get" id="searchForm">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" name="query"
                        id="searchInput">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>


                <script>
                    $(document).ready(function () {
                        $('#searchForm').on('submit', function (e) {
                            var searchQuery = $('#searchInput').val().trim();

                            if (!searchQuery) {
                                e.preventDefault();
                                $('#searchInput').val('');
                                $('#searchInput').focus();
                            }
                        });
                    });
                </script>

            </div>
        </div>
    </nav>

    <div class="container mt-4">
        {% block content %}{% endblock %}
    </div>


</body>

</html>