<!-- Samuel Braun slb2250 -->

{% extends "layout.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-6 mb-4">
            <img src="{{ item.image }}" class="img-fluid rounded" alt="{{ item.title }}">
            {% if item.image_caption %}
            <h6>{{ item.image_caption }}</h6>
            {% endif %}
        </div>
        <div class="col-lg-6">
            <h2>{{ item.title }}</h2>
            <h5>{{ item.abstract }}</h5>
            <div>{{ item.byline }}</div>
            <div>Published: {{ item.published_date }}</div>
            <div>Updated: {{ item.update_date }}</div>
            {% if item.subsection %}
            <div>section: {{ item.section }} > {{ item.subsection }}</div>
            {% else %}
            <div>Section: {{ item.section }}</div>
            {% endif %}
            <div>URL: {{ item.url }}</div>

            <div>
                <h4>Keywords</h4>
                <ul class="list-unstyled">
                    {% for keyword in item.keywords %}
                    <li>
                    <li><a href="/search_link/{{ keyword }}">{{ keyword }}</a></li>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}